<div id="background"></div>

<div class="blur-side blur-left"></div>
<div class="blur-side blur-right"></div>

<div id="parralax">

  <div id="lastPlan">
    <div class="LpImg LpImg1">
      <figure>
        <img [src]="lastPlan" alt="">
      </figure>
    </div>
    <div class="LpImg LpImg2">
      <figure>
        <img [src]="lastPlan" alt="">
      </figure>
    </div>
    <div class="LpImg LpImg3">
      <figure>
        <img [src]="lastPlan" alt="">
      </figure>
    </div>
    <figcaption>Dernier plan</figcaption>
  </div>
  <!-- <figure id="middlePlan">
    <img [src]="middlePlan" alt="">
    <figcaption>Plan du milieu</figcaption>
  </figure> -->
  <div id="firstPlan">
    <div class="img img1">
      <figure>
        <img [src]="firstPlan" alt="">
      </figure>
    </div>
    <div class="img img2">
      <figure>
        <img [src]="firstPlan" alt="">
      </figure>
    </div>
    <div class="img img3">
      <figure>
        <img [src]="firstPlan" alt="">
      </figure>
    </div>
    <figcaption>Premier plan</figcaption>
  </div>

  <div id="projets">

  </div>


</div>