<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>portfolio</title>
</head>


<body>

  <div id="parralax">

    <div id="background"></div>
    <figure>
      <img [src]="lastPlan" alt="">
      <figcaption>Dernier plan</figcaption>
    </figure>
    <figure>
      <img [src]="middlePlan" alt="">
      <figcaption>Plan du milieu</figcaption>
    </figure>
    <figure>
      <img [src]="firstPlan" alt="">
      <figcaption>Premier plan</figcaption>
    </figure>

  </div>

</body>

</html>