/* You can add global styles to this file, and also import other style files */
#background {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/sun.png");
    /* background-size: cover; */
    background-repeat: no-repeat;
    padding: 0%;
    margin: auto;
}